@{
    ViewData["Title"] = "About";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
 
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<blockquote>
    If you do not care about what you create, other people will not even care about your product.
    <footer>Stephen Gary (Steve) Wozniak</footer>
</blockquote>


<blockquote>
    @Localizer["Developer"]
    <footer>@Localizer["Email"]</footer>
</blockquote>

@await Html.PartialAsync("_Footer")