@{
    ViewData["Title"] = "Language";
}

<div class="jumbotron">
    <h1>Select Language</h1>
    <p>
        Please!
    </p>
</div>
<p>This is some text.</p>
<p>This is another text.</p>

@await Html.PartialAsync("_SelectLanguagePartial")


@await Html.PartialAsync("_Footer")